body{
    margin: 0;
    background-color: #056679;
    font-family: sans-serif;
}

.input-section{
    background-color: #ececec;
    padding: 18px;
    border-radius: 10px;
}

.todo-container{
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1{
    margin:0 ;
    margin-bottom: 15px;
    color: #ababab;
}


.input-section input{
    border-radius: 5px;
    border: 1px solid rgb(226, 226,226); /* blenging color technique is called neomorphisum*/
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

ul{
    
    text-align: left;
    padding: 0;
}

input::placeholder{
    color: silver;
}

ul li{
    list-style: none;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: gray;

}